:root {
  --primary-color: #00b0ff;
  --secondary-color: #536dfe;
  --text-primary-color: #111827;
  --text-secondary-color: #6b7280; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: "Inter", sans-serif; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

footer {
  padding: 40px;
  width: 80vw;
  margin: auto; }

.btn-primary {
  display: inline-block;
  padding: 0.8rem 1rem;
  transition: all 1s;
  border: none;
  cursor: pointer;
  border-radius: 10px; }

.btn-primary {
  color: #fff;
  background-color: var(--primary-color); }
  .btn-primary:hover {
    color: var(--text-primary-color);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4); }

.container-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center; }

.text-secondary {
  color: var(--text-secondary-color); }

.navigation {
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;
  background: var(--primary-color);
  background: -webkit-linear-gradient(to bottom, var(--primary-color), #fff);
  background: linear-gradient(to bottom, var(--primary-color), #fff); }
  .navigation .nav-container {
    padding: 20px 0;
    display: flex;
    width: 80vw;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    color: #fff;
    text-transform: uppercase; }
    .navigation .nav-container ul {
      display: flex; }
    .navigation .nav-container li {
      padding: 1rem 1.5rem; }
    .navigation .nav-container a {
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
      border-bottom: 3px transparent solid;
      padding-bottom: 0.5rem;
      transition: border-color 0.3s; }
      .navigation .nav-container a:hover {
        border-color: var(--secondary-color); }

.main-footer {
  background: var(--primary-color);
  background: -webkit-linear-gradient(to bottom, #fff, var(--primary-color));
  background: linear-gradient(to bottom, #fff, var(--primary-color));
  color: #fff;
  width: 100%; }
  .main-footer .footer-content {
    display: flex;
    justify-content: center;
    height: 4rem;
    align-items: center; }
    .main-footer .footer-content .footer-text {
      font-size: 20px;
      margin-right: 40px; }
    .main-footer .footer-content .social .fab {
      border-radius: 50%;
      color: #fff;
      text-align: center;
      padding: 0.5rem;
      transition: all 0.5s; }
      .main-footer .footer-content .social .fab:hover {
        background-color: var(--secondary-color);
        cursor: pointer; }

.hero {
  width: 80vw;
  margin: auto;
  height: 100vh;
  margin-top: 90px;
  background: url("../images/01.svg");
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center; }
  .hero .hero-content {
    width: 70%;
    padding-left: 250px;
    font-weight: 800;
    font-size: 72px;
    text-align: center;
    line-height: 85px;
    margin-bottom: 230px;
    color: var(--text-primary-color); }

.container-flex-center {
  margin: 80px 0; }
  .container-flex-center .container-grid {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-columns: 200px 250px 250px;
    grid-template-rows: repeat(2, auto);
    grid-gap: 1.5rem;
    padding: 20px; }
    .container-flex-center .container-grid .container-grid-heading {
      grid-column: 2 / span 3;
      align-self: center;
      font-size: 62px; }
    .container-flex-center .container-grid .container-grid-image {
      grid-column: 1;
      grid-row: 1 / span 2;
      height: 100%;
      width: 100%;
      background-repeat: no-repeat;
      background-size: contain;
      align-self: center;
      justify-content: center;
      justify-self: center;
      align-content: center; }
    .container-flex-center .container-grid .container-grid-content {
      grid-column: 2 / span 3;
      align-self: start;
      font-size: 20px; }

.introduction .introduction-image {
  background: url("../images/introduction.png"); }

.technologies .technologies-image {
  background: url("../images/technology.png"); }

.technologies .highlight {
  color: white;
  background-color: var(--primary-color);
  padding: 10px;
  border-radius: 20px;
  line-height: 30px;
  margin-bottom: 20px; }
  .technologies .highlight:hover {
    color: white;
    background-color: var(--secondary-color);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2); }

.projects .projects-image {
  background: url("../images/project.png"); }

.blogs .blogs-image {
  background: url("../images/blog.png"); }

@media screen and (max-width: 1366px) {
  .hero .hero-content {
    width: 65%;
    padding-left: 130px;
    font-weight: 800;
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 150px; }
  .technologies .technologies-grid .technologies-heading {
    font-size: 50px; }
  .blogs {
    width: 80vw;
    margin: auto; } }
