@media screen and (max-width: 1366px) {
  .hero {
    .hero-content {
      width: 65%;
      padding-left: 130px;
      font-weight: 800;
      font-size: 50px;
      line-height: 60px;
      margin-bottom: 150px;
    }
  }

  .technologies {
    .technologies-grid {
      .technologies-heading {
        font-size: 50px;
      }
    }
  }

  .blogs {
    width: 80vw;
    margin: auto;
  }
}
// Tablets & Smaller
@media (max-width: 800px) {
}

// Smartphones
@media (max-width: 500px) {
}
