// Import Shared Utilities
@import "utilities";

.blog-collections {
  margin: auto;
  width: 60%;
  padding: 20px;
  .blog-container {
    // background: lightgray;
    border: 1px solid var(--primary-color);
    padding: 20px;
    margin-top: 40px;
    border-radius: 10px;
    transition: all 0.5s;
    .blog-heading {
      font-size: 1.5rem;
      font-weight: bolder;
    }

    .blog-time {
      font-size: 0.8rem;
      margin-bottom: 15px;
      color: var(--text-secondary-color);
    }

    .blog-description {
      color: var(--secondary-color);
      margin-bottom: 15px;
    }

    .blog-content {
      margin-bottom: 15px;
      font-size: 1.2rem;
      padding: 0 30px;
    }

    .showcase-buttons {
      .btn {
        margin: 0 15px;
      }
    }

    &:hover {
      // border: none;
      box-shadow: 0 3px 10px var(--primary-color);
    }
  }
}

.blog-showcase-container {
  margin: 100px auto;
  width: 60%;

  .blog-showcase-heading {
    font-size: 2rem;
    margin-bottom: 10px;
  }

  .blog-showcase-description {
    color: var(--text-secondary-color);
    margin-bottom: 30px;
  }

  .blog-showcase-content {
    text-align: justify;
    line-height: 2rem;

    .code {
      color: white;
      background: black;
      padding: 30px;
    }

    .text-secondary {
      color: var(--text-secondary-color);
      font-style: italic;
    }
  }
}
