// Import Shared Utilities
@import "utilities";

.hero {
  width: 80vw;
  margin: auto;
  height: 100vh;
  margin-top: 90px;
  background: url("../images/01.svg");
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;

  .hero-content {
    width: 70%;
    padding-left: 250px;
    font-weight: 800;
    font-size: 72px;
    text-align: center;
    line-height: 85px;
    margin-bottom: 230px;
    color: var(--text-primary-color);
  }
}

.container-flex-center {
  margin: 80px 0;
  .container-grid {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;

    display: grid;
    // grid-template-columns: repeat(3, 10vw);
    grid-template-columns: 200px 250px 250px;
    grid-template-rows: repeat(2, auto);
    grid-gap: 1.5rem;
    padding: 20px;

    .container-grid-heading {
      grid-column: 2 / span 3;
      align-self: center;
      font-size: 62px;
    }

    .container-grid-image {
      grid-column: 1;
      grid-row: 1 / span 2;
      height: 100%;
      width: 100%;
      background-repeat: no-repeat;
      background-size: contain;
      align-self: center;
      justify-content: center;
      justify-self: center;
      align-content: center;
    }

    .container-grid-content {
      grid-column: 2 / span 3;
      align-self: start;
      font-size: 20px;
    }
  }
}

.introduction {
  .introduction-image {
    background: url("../images/introduction.png");
  }
}

.technologies {
  .technologies-image {
    background: url("../images/technology.png");
  }

  .highlight {
    color: white;
    background-color: var(--primary-color);
    padding: 10px;
    border-radius: 20px;
    line-height: 30px;
    margin-bottom: 20px;

    &:hover {
      color: white;
      background-color: var(--secondary-color);
      box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
      // cursor: none;
    }
  }
}

.projects {
  .projects-image {
    background: url("../images/project.png");
  }
}

.blogs {
  .blogs-image {
    background: url("../images/blog.png");
  }
}

// Import Media Queries
@import "media";
